<section>
  <div>
    <h1>新規登録</h1>
  </div>

  <div>
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div>
        <%= f.label :name, "ユーザー名" %>
        <%= f.text_field :name, autofocus: true, autocomplete: "name" %>
      </div>

      <div>
        <%= f.label :email, "メールアドレス" %>
        <%= f.email_field :email, autocomplete: "email" %>
      </div>

      <div>
        <%= f.label :password, "パスワード" %>

        <% if @minimum_password_length %>
          <p><%= @minimum_password_length %>文字以上で入力してください。</p>
        <% end %>

        <%= f.password_field :password, autocomplete: "new-password" %>
      </div>

      <div>
        <%= f.label :password_confirmation, "パスワード（確認）" %>
        <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
      </div>

      <div>
        <%= f.submit "登録する" %>
      </div>
    <% end %>
  </div>

  <div>
    <%= render "devise/shared/links" %>
  </div>
</section>