<% if latest_recipe_version.present? %>
  <section>
    <h2>最新版レシピ</h2>

    <div>
      <p>バージョン名：<%= latest_recipe_version.version_name %></p>
      <p>バージョン番号：<%= latest_recipe_version.version_number %></p>
    </div>

    <section>
      <h3>材料</h3>
      <div>
        <%= simple_format(latest_recipe_version.ingredients) %>
      </div>
    </section>

    <section>
      <h3>手順</h3>
      <div>
        <%= simple_format(latest_recipe_version.steps) %>
      </div>
    </section>

    <% if latest_recipe_version.memo.present? %>
      <section>
        <h3>メモ</h3>
        <div>
          <%= simple_format(latest_recipe_version.memo) %>
        </div>
      </section>
    <% end %>

    <% if latest_recipe_version.images.attached? %>
      <section>
        <h3>画像</h3>

        <div>
          <% latest_recipe_version.images.each do |image| %>
            <%= image_tag image, style: "max-width: 100%; height: auto;" %>
          <% end %>
        </div>
      </section>
    <% end %>
  </section>
<% else %>
  <p>まだレシピ内容が登録されていません。</p>
<% end %>