<section class="mx-auto max-w-2xl">
  <div>
  <h2 class="text-sm tracking-tight text-gray-700">
    作成したレシピを表示します。
  </h2>
    <h1 class="mt-2 border-b border-stone-300 pb-3 text-2xl font-bold tracking-tight text-gray-900">
      レシピ一覧
    </h1>
  </div>
  <div class="mt-3">
    <%= render "search_form", q: @q %>
  </div>
  <div class="mt-5 rounded-lg bg-stone-50 px-4 py-3 shadow-sm">
    <% if @recipes.any? %>
      <ul>
        <% @recipes.each do |recipe| %>
          <% latest_version = recipe.latest_version %>
          <li class="border-b border-stone-200 py-4 first:pt-0 last:border-b-0 last:pb-0">
            <div class="flex items-center justify-between gap-4">
              <div>
                <h2 class="text-xl font-semibold">
                  <%= link_to recipe.title,
                      recipe_path(recipe),
                      class: "text-gray-900 hover:text-stone-300" %>
                </h2>
                <div class="mt-2 text-xs text-gray-600">
                  <span>改良履歴：<%= recipe.recipe_versions.size %>件</span>
                  <span class="mx-2 text-gray-400">/</span>
                  <span>
                    最新：
                    <% if latest_version.present? %>
                      <%= l latest_version.created_at, format: :short %>
                    <% else %>
                      なし
                    <% end %>
                  </span>
                </div>
              </div>
              <div class="pr-6">
                <%= link_to "履歴",
                    recipe_recipe_versions_path(recipe),
                    class: "text-sm text-gray-600  hover:text-stone-300" %>
              </div>
            </div>
          </li>
        <% end %>
      </ul>
    <% else %>
      <div>
        <% if @q.present? && @q.conditions.any? %>
          <p class="text-gray-700">検索条件に一致するレシピはありません。</p>
        <% else %>
          <p class="text-gray-700">まだレシピがありません。</p>
        <% end %>
      </div>
    <% end %>
  </div>
</section>