<h1>マイページ</h1>

<div>
  <p>ユーザー名：<%= current_user.name %></p>
  <p>メールアドレス：<%= current_user.email %></p>
</div>

<h2>レシピ</h2>

<ul>
  <li>
    <%= link_to "レシピを作成する", new_recipe_path %>
  </li>
  <li>
    <%= link_to "登録情報を変更する", edit_user_registration_path %>
  </li>
  <li>
    <%= link_to "アカウントを削除する", account_deletion_path %>
  </li>
  <li>
    <%= button_to "ログアウト", destroy_user_session_path, method: :delete %>
  </li>
</ul>
