<% if recipe_version.errors.any? %>
  <div>
    <h2>入力内容を確認してください</h2>
    <ul>
      <% recipe_version.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= form_with model: [recipe, recipe_version], local: true do |f| %>

  <div>
    <strong>バージョン番号：</strong>
    <%= recipe_version.version_number %>
  </div>

  <div>
    <%= f.label :version_name, "バージョン名" %><br>
    <%= f.text_field :version_name %>
  </div>

  <div>
    <%= f.label :ingredients, "材料" %><br>
    <%= f.text_area :ingredients, rows: 5 %>
  </div>

  <div>
    <%= f.label :steps, "手順" %><br>
    <%= f.text_area :steps, rows: 5 %>
  </div>

  <div>
    <%= f.label :memo, "メモ" %><br>
    <%= f.text_area :memo, rows: 3 %>
  </div>

  <div>
    <%= f.submit "改良を保存する" %>
  </div>
<% end %>