<section>
  <div>
    <h1>改良履歴一覧</h1>
    <p>レシピ名：<%= @recipe.title %></p>
  </div>

  <div>
    <%= link_to "改良を記録する", new_recipe_recipe_version_path(@recipe) %>
    <%= link_to "レシピ詳細へ戻る", recipe_path(@recipe) %>
  </div>

  <div>
    <% if @recipe_versions.any? %>
      <ul>
        <% @recipe_versions.each do |recipe_version| %>
          <li>
            <article>
              <% if recipe_version == @recipe.latest_version %>
                <div>
                  <strong>最新版</strong>
                </div>
              <% end %>

              <div>
                <h2><%= recipe_version.version_name %></h2>
              </div>

              <div>
                <p>
                  バージョン番号：<%= recipe_version.version_number %>
                </p>
                <p>
                  作成日時：<%= l recipe_version.created_at, format: :short %>
                </p>
              </div>

              <% if recipe_version.memo.present? %>
                <div>
                  <p>メモ：</p>
                  <div><%= simple_format(recipe_version.memo) %></div>
                </div>
              <% end %>

              <div>
                <%= link_to "詳細を見る", recipe_version_path(recipe_version) %>
              </div>
            </article>
          </li>
        <% end %>
      </ul>
    <% else %>
      <p>改良履歴はまだありません。</p>
    <% end %>
  </div>
</section>