<h1><%= @recipe_version.version_name %></h1>

<p>レシピ名：<%= @recipe.title %></p>

<p>
  バージョン番号：<%= @recipe_version.version_number %>
</p>

<p>
  作成日時：<%= l @recipe_version.created_at, format: :short %>
</p>

<section>
  <h2>材料</h2>
  <%= simple_format(@recipe_version.ingredients) %>
</section>

<section>
  <h2>手順</h2>
  <%= simple_format(@recipe_version.steps) %>
</section>

<% if @recipe_version.memo.present? %>
  <section>
    <h2>メモ</h2>
    <%= simple_format(@recipe_version.memo) %>
  </section>
<% end %>

<%= link_to "改良履歴一覧へ戻る", recipe_recipe_versions_path(@recipe) %>
<%= link_to "レシピ詳細へ戻る", recipe_path(@recipe) %>